.swiper_aside {
  position: absolute;
  top: 0;
  width: 352rem;
  height: 520rem;
  pointer-events: none;
  padding: 0 !important;
  left: 108rem;
  // transform: translateX(-50%);

  :global(.swiper) {
    top: 0;
    transform: translateY(-50%);
    transition: top 0.3s;
  }
}
